@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    IRIS Grads<br/>
    Faulkner House<br />
    Faulkner Street<br />
    Manchester<br />
    M1 4DY <br />
    <abbr title="Phone">P:</abbr>
    0161 228 0307
</address>

<address>
    <strong>Contact Ian:</strong>   <a href="mailto:Ian.Nkwocha@IRIS.CO.UK">Ian.Nkwocha@IRIS.co.uk</a>
    <strong>Contact Josh:</strong>   <a href="mailto:Joshua.Knights@IRIS.CO.UK">Joshua.Knights@IRIS.co.uk</a>
    <strong>Contact Chris:</strong>   <a href="mailto:Christopher.Sweeney@IRIS.CO.UK">Christopher.Sweeney@IRIS.co.uk</a>
</address>